<script lang="ts">
</script>

<template>
  <section class="controls">
    <label>
      Pause between tracks in seconds:
      <input type="number" name="pause" min="0" max="15" value="2">
    </label>
    <label>
      <input type="checkbox" name="tracking" value="1" disabled>
      Add a 19kHz tracking signal (not yet implemented)
    </label>
    <button type="submit">Start</button>
  </section>
</template>

<style scoped>
  input:not([type="checkbox"]), button {
    display: block;
  }
  label {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
  }
</style>
