<script lang="ts">
  export default {
    data() {
      return {
        side1_time: 0,
        side2_time: 0
      };
    }
  }
</script>

<template>
  <section class="runtime">
    <label class="tape">
      Tape length:
      <select class="tape">
        <option value="30">C 30</option>
        <option value="47">C 47</option>
        <option value="60">C 60</option>
        <option value="70">C 70</option>
        <option value="74">C 74</option>
        <option value="80">C 80</option>
        <option value="90" selected>C 90</option>
        <option value="100">C 100</option>
        <option value="110">C 110</option>
        <option value="120">C 120</option>
      </select>
    </label>
    <div class="bar-container">
      <div class="side1">
        <span class="time">{{ side1_time }}</span>
        <div class="filled" :style="'left: ' + side1_filled + '%;'"></div>
      </div>
      <div class="side2">
        <span class="time">{{ side2_time }}</span>
        <div class="filled" :style="'left: ' + side2_filled + '%;'"></div>
      </div>
      <div class="scale">
        <span class="half">half</span>
        <span class="full">full</span>
        <span class="over">over</span>
      </div>
    </div>
  </section>
</template>

<style scoped>
  section.runtime {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width: var(--app-width);
  }

  label.tape {
    padding-top: 0.5em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  select.tape {
    margin-top: 0.5em;
  }

  div.bar-container {
    display: flex;
    flex-direction: column;
    flex-grow: 9;
  }

  div.side1, div.side2 {
    width: 100%;
    height: 1.5em;
    text-align: center;
    background: linear-gradient(to right, #0a0, #0a0 77.5%, #aa0 82.5%, #a00 100%);
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    border: 1px solid var(--foreground-colour);
  }

  div.filled {
    width: 100%;
    height: 1.5em;
    background: var(--background-colour);
    position: relative;
  }

  div.scale {
    display: flex;
  }

  span.half, span.full {
    text-align: right;
    padding-right: 0.25em;
    flex-grow: 4;
    border-right: 1px solid var(--foreground-colour);
  }
  span.over {
    text-align: center;
    flex-grow: 2;
  }
</style>
