<template>
  <label>
    {{ title }}
    <select :name="name" multiple>
    </select>
  </label>
</template>

<script setup lang="ts">
  defineProps<{
    title: string,
    name: string
  }>()
</script>

<style scoped>
select[multiple] {
    width: 90%;
    border-color: var(--foreground-colour);
    display: block;
  }

</style>
