:root {
    --background-colour: #fff;
    --foreground-colour: #000;
    --app-width: 90%;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-colour: #000;
        --foreground-colour: #fff;
    }
}
