<script setup lang="ts">
  import TrackArea from './components/TrackArea.vue'
  import RuntimeBar from './components/RuntimeBar.vue'
  import ControlBar from './components/ControlBar.vue'
</script>

<template>
  <h1>tape-ng</h1>
  <form>
    <TrackArea title="side 1" name="side1_tracks"></TrackArea>
    <TrackArea title="side 2" name="side2_tracks"></TrackArea>
    <RuntimeBar></RuntimeBar>
    <ControlBar></ControlBar>
  </form>
</template>

<style>
@import './assets/base.css';

body {
    background-color: var(--background-colour);
    color: var(--foreground-colour);
}
</style>
